.inside-product-wrapper {
  .container {
    padding: 0 60px;

    .breadcrumb {
      li {
        a {
          color: #CDB76E;
        }
      }

      .active {
        color: #979797;
      }
    }
  }

  .product-img {
    text-align: start;
    position: relative;

    span {
      position: absolute;
      height: 32px;
      width: 42px;
      top: 30px;
      right: 30px;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .product-info-wrapper {
    .product-cost {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;

      p {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #979797;
      }

      .line-through {
        text-decoration: line-through;
        margin-right: 15px;
      }

    }

    .product-info {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #B9B9B9
    }

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    select {
      width: 50%;
      cursor: pointer;
    }

    .count-wrapper {
      display: flex;
      margin: 30px 0;

      .count-block {
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #CBCBCB;
      }

      button {
        border-radius: 0;
        width: 50%;
        border: 1px solid #212529;
        box-sizing: border-box;
      }
    }

    .add-list-wrapper {
      display: flex;
      align-items: center;
      margin: 30px 0;

      svg {
        margin-right: 10px;
        fill: #CDB76E;
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #CDB76E;
        margin: 0;
      }
    }
  }

}