.footer {
  box-sizing: border-box;
  padding: 50px 90px;
  background: #FFF9EE;

  .f-left {
    display: flex;
    justify-content: center;

    .empty-block {
      width: 217px;
      height: 108px;
      background: #C4C4C4
    }
  }

  .f-middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 30px;
    }

    .messanger-icons {
      display: flex;

      a {
        .mi-item {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin-right: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          cursor: pointer;

          svg {
            fill: #fff;
          }
        }
      }

    }
  }

  .f-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-with-our {
      display: flex;
      align-items: center;
      width: 220px;
      margin-bottom: 20px;

      svg {
        margin-right: 12px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h5 {
          font-weight: 500;
          font-size: 14px;
        }

        p {
          font-weight: normal;
          font-size: 10px;
          line-height: 10px;
          color: #979797;
          margin: 0;
        }
      }

    }
  }

}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #444744;
  }
}