.modal {
  .modal-content {
    padding: 20px;
  }

  .modal-header {
    border: none;

    .modal-title {
      font-size: 25px;
      line-height: 35px;
      color: #979797;
      margin-right: 20px;
      cursor: pointer;
      font-weight: normal;
      letter-spacing: 0.1em;
    }

    .active {
      color: #CDB76E;
    }
  }

  .modal-footer {
    border: none;

    button {
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 0.3em;
      border-radius: 0;
    }
  }
}