.arrival-banner-wrapper {
  height: 300px;

  .arrival-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      font-weight: 600;
      font-size: 60px;
      line-height: 73px;
    }

    p {
      width: 800px;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #979797;
    }
  }
}