.delivery-wrapper {
  height: 300px;

  .delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      width: 800px;
      font-weight: 600;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.03em;
    }

    p {
      width: 800px;
      font-size: 20px;
      line-height: 160%;
      text-align: center;
      letter-spacing: -0.03em;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}