.delivery-quality-wrapper {
  box-sizing: border-box;
  padding: 0 90px;

  .dq-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .dq-item {
      height: 215px;
      width: 550px;
      display: flex;
      border: 1px solid #EAEAEA;
      box-sizing: border-box;
      padding: 20px;
      background: #FFFFFF;
      border-radius: 24px;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: 160px;
        margin-right: 40px;
      }

      .dq-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: -0.03em;
        }

        p {
          font-size: 16px;
          line-height: 160%;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}