.h-carousel {
  box-sizing: border-box;
  background: #FFFBF0;

  .h-carousel-item {
    height: 630px;
    .h-carousel-item-info {
      box-sizing: border-box;
      padding: 30px 0 30px 90px;

      h6 {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.195em;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 80px;
        font-weight: 600;
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: #979797;
      }
    }
  }
}