.products {
  box-sizing: border-box;
  padding: 10px 60px 10px 90px;

  .p-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .p-navigation-menu {
      display: flex;
      padding: 10px 0;
    }

    a {
      margin-right: 40px;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #979797;
    }

    .active {
      font-weight: 500;
      color: #444343 !important;
    }

    .all-products-link {
      color: #CDB76E;
    }

  }

  .products-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;

    a {
      margin-right: 80px;
      margin-bottom: 20px;

      .products-item {
        height: 290px;
        width: 188px;
        display: flex;
        flex-direction: column;

        .img-background {
          background: #EDEAEA;
          text-align: center;
          position: relative;
          overflow: hidden;

          img {
            height: 200px;
            width: 143px;
          }

          .pi-hover {
            height: 40px;
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.7);
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 10px;
            align-items: center;
            position: absolute;
            bottom: 0;
            transform: translateY(40px);
            transition: all 0.2s linear;

            p {
              margin: 0;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              text-decoration-line: underline;
            }

            svg {}
          }
        }

        h4 {
          font-size: 20px;
          font-weight: 500;
          margin: 8px 0;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          color: #979797;
        }
      }

      &:hover .products-item .pi-hover {
        transform: translateY(0px);
        transition: all 0.3s linear;

      }
    }
  }
}