.sale-block-wrapper {
  background: #EFE3E3;

  .sale-block-info {
    box-sizing: border-box;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .deadline {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.195em;
      color: #FF0000;
    }

    .new-sale {
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: 0.04em;
      color: #000000;
    }

    .sale-cost {
      display: flex;
      span {
        margin-right: 35px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #979797;
      }

      .line-through {
        text-decoration: line-through;
      }
    }

    .sale-percent {
      width: 52px;
      height: 42px;
      background: #CE0606;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 14px;
      margin: 20px 0;
    }

    .sale-finished {
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 20px 75px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 30px;

      .sale-date-block {
        text-align: center;

        h6 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
          color: #979797;
          margin-bottom: 0;
        }
      }

    }

    .view-link {
      padding: 10px 40px;
      border: 1px solid #000000;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.175em;
      color: #000000;
      width: 145px;
    }
  }

}