.thought-wrapper {
  box-sizing: border-box;
  padding: 60px 80px;

  .thought-img {
    img {
      border-radius: 15px;
    }
  }

  .thought-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-weight: normal;
      font-size: 40px;
      line-height: 140%;
      letter-spacing: -0.03em;
    }

    p {
      font-weight: 600;
      font-size: 16px;

      span {
        font-weight: normal;
      }
    }

    img {
      width: 138px;
      height: 25px;
    }
  }
}