.online-shop-navbar {
  .nb-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 30px;

    .nb-phone {
      display: flex;
      align-items: center;

      h6 {
        font-size: 16px;
        margin: 0;
      }

      svg {
        margin-right: 10px;
      }
    }

  }

  .nb-left {
    box-sizing: border-box;
    padding-left: 80px;

    .nb-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 !important;

      li {
        list-style: none;
        padding: 8px 0;

        a {
          font-size: 20px;
          color: #444343;
          margin-right: 20px;
        }
      }
    }
  }

  .nb-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 80px;

    .nb-input-search {
      position: relative;

      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #979797;
        border-radius: 0;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      svg {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .nb-user {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #372D2D;
      cursor: pointer;

      svg {
        fill: #372D2D;
      }
    }

    .nb-icons-group {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
        cursor: pointer;
      }

      span {
        height: 5px;
        width: 5px;
        position: absolute;
        top: 2px;
        right: -6px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #fff;
        background-color: #CDB76E;
        padding: 8px;
      }
    }
  }
}